<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.date %></title>
    <script>
        <%= htmlWebpackPlugin.files.chunks.a.entry %>
    </script>
</head>
<body>
<%= htmlWebpackPlugin.options.date %>
<!--<% for(var key in htmlWebpackPlugin){%>
    <%= key %> : <%= htmlWebpackPlugin[key] %>
<%} %>-->
<% for(var key in htmlWebpackPlugin.files){%>
<%= key %> : <%= htmlWebpackPlugin.files[key] %>
<%} %>
<% for(var key in htmlWebpackPlugin.options){%>
<%= key %> : <%= htmlWebpackPlugin.options[key] %>
<%} %>
<!--我是注释-->
<script src="bundle.js"></script>
</body>
</html>